<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<div id="wrapper">
  <img id="avatar" src="https://www.gravatar.com/avatar/450abd6f3c8e330f83205cb1cb140a02?s=150" />

  <div id="content">
    <h1>{{ site.title | escape }}</h1>

    <ul id="social">
      <li><a href="https://twitter.com/SimonMiaou" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/SimonMiaou" target="_blank">Github</a></li>
      <li><a href="https://de.linkedin.com/in/simon-lacroix-1911a352" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>

</body>
</html>
